# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#vite module
my-vite-app/*

# environment variables
.env
.env.*

# others
dev/

## EXTREMELEY IMPORTANT: DO NOT COMMIT THE FOLDER BELOW.
## It doesn't contain sensitive data but it's fetched at build time, and
## it may be quite heavy so there is no point in keeping it committed to the repository.
public/fetched

# Local deployment and TypeScript build state
.vercel
*.tsbuildinfo
